.textimonials{
    background-image: url(../../images/img-middle-mirora1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.678);
    background-blend-mode: darken, luminosity;
}